<div class="columns is-mobile is-centered">
  <div class="column is-half">
        <div class="box">
            <h1>Editing Tweet</h1>

            <%= render 'form', tweet: @tweet %>

            <%= link_to 'Show', @tweet %> |
            <%= link_to 'Back', tweets_path %>

        </div>
  </div>
</div>